<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Dashboard | Sobakaisti</title>
</head>
<body>
<header th:replace="~{commons/dash_header :: dash_header}"> </header>
<!-- Breadcrumbs -->
<!-- <div th:replace="commons/dash_header :: dash_breadcrumbs(~{})"></div> -->

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}"></section>
<!-- footer -->
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>