<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<footer th:fragment="dash_footer" class="dash-footer">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/resources/js/dashboard.jquery.js}"></script>
	
	<!-- Delete Box -->
	<div class="overlay" id="delete">
	<div class="dialog-box">
		<a href="#"><span class="popup-close">&#xe681;</span></a>
		<div class="dialog-content" th:text="#{dialog.delete.message}">Da li ste sigurni da želite da obrišete autora?</div>
		<div class="dialog-options">
			<a href="javascript:void(0)" class="dialog-yes dialog-option" th:text="#{button.label.yes}">Da</a>
			<a href="#" class="dialog-no dialog-option" th:text="#{button.label.no}">Ne</a>
		</div>
	</div>
	</div>
</footer>
</html>